<link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
/>

<div *ngIf="!games.length" class="centered" (click)="getData()">
    <p>Click to select local screenshots TSV file</p>
</div>

<div *ngIf="games.length">
    <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let game of games">
            <a [routerLink]="[game]">
                <img [src]="game + '/0.png'" [alt]="game" class="centered" />
            </a>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="buttons">
        <button mat-icon-button (click)="popup()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="delete()">
            <mat-icon>delete_outline</mat-icon>
        </button>
    </div>
</div>
